<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">
                Title looks good!
            </div> 
            <div class="invalid-feedback">
                Please enter a title
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please enter a short description
            </div>
            <div class="valid-feedback">
                Description looks good!
            </div> 
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image</label>
            <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control" >
            <div class="invalid-feedback">
                    Please enter the URL
                </div>
                <div class="valid-feedback">
                    URL looks good!
                </div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid Price
            </div>
            <div class="valid-feedback">
                Price looks good!
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                <div class="invalid-feedback">
                            Please enter the Location
                </div>
                <div class="valid-feedback">
                    Location looks good!
                </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter the Country name
                </div>
                <div class="valid-feedback">
                    Country name looks good!
                </div>
            </div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>
    </div>
</div>
